__pycache__
.DS_store
*.zip
.ipynb_checkpoints
test.ipynb

explain/MCF7_CPDB/*
explain/AML/*
explain/*.zip

data/AML_Matrix/*
data/Breast_Cancer_Matrix/*
data/CPDB/CPDB_matrix.csv
data/Multiomics/*
data/Multinet/*
data/MODIG/*
data/PCNet/*
data/STRING/*
data/IRef/*
data/additional_explain.txt
data/Results/*
data/omics/*

outs/*
log/*

predict/*

!outs/MCF7_CPDB/best_model.pkl
!explain/MCF7_CPDB/edge_mask/BRCA1.csv
!explain/MCF7_CPDB/subgraph/BRCA1.png
!explain/MCF7_CPDB/feature_mask/BRCA1.csv
!data/AML_Matrix/018/*
!data/AML_Matrix/batch_neoloop.sh
!data/Breast_Cancer_Matrix/MCF7_CPDB_dataset_final.pkl
!data/Breast_Cancer_Matrix/MCF7-Label.txt
!predict/AML/018/018_0.97+.csv
